<launch>
   <node name="gmapping" pkg="gmapping" type="slam_gmapping">
      <param name="xmin" value="-20"/>
      <param name="xmax" value="20"/>
      <param name="ymin" value="-20"/>
      <param name="ymax" value="20"/>

      <param name="linearUpdate" value="0.25"/>
      <param name="angularUpdate" value="0.2"/>
      <param name="maxUrange" value="5.0"/>
      <param name="maxRange" value="5.6"/>

      <param name="delta" value="0.1"/>
   </node>
</launch>
