<launch>
   <!-- Run AMCL -->
   <include file="$(find dagny_nav_launch)/dagny_gmapping.launch" />

   <!-- move_base node -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find dagny_nav_launch)/dagny_nav.yaml" command="load"/>
      <param name="SBPLLatticePlanner/primitive_filename"
         value="$(find dagny_nav_launch)/dagny.mprim" />
      <rosparam file="$(find dagny_nav_launch)/local_planner.yaml" command="load"/>

      <rosparam file="$(find dagny_nav_launch)/common_costmap.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find dagny_nav_launch)/local_costmap.yaml" command="load" ns="local_costmap"/>

      <rosparam file="$(find dagny_nav_launch)/common_costmap.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find dagny_nav_launch)/global_costmap.yaml" command="load" ns="global_costmap"/>
   </node>
</launch>
